<h2 class="text-center">Ember To Do List</h2>
<br>
<div class="container">
  <form>
    <div class="form-group">
      Due: {{input value=deadline}}
      Task description: {{input value=description}}
      <button {{action 'save' tasks}}class="btn btn-success" type="submit">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </form>
</div>
<br>
<div class="container">
  <button class="btn btn-primary">All</button>
  <button class="btn btn-primary">Complete</button>
  <button class="btn btn-primary">Incomplete</button>
</div>
<br>
<div class="container">
  <div class="list-group">
    {{#each model as |tasks|}}
      <div class="list-group-item">
        {{one-way-checkbox checked=tasks.isDone update=(action (mut tasks.isDone))}}
        {{tasks.id}}
        {{tasks.description}}
        {{tasks.deadline}}
        <button class="btn btn-default pull-right"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        <button class="btn btn-danger pull-right {{action 'delete' tasks}}"><span class="glyphicon glyphicon-minus"></span> Remove</button>
      </div>
    {{/each}}
  </div>
</div>
